<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="">高级软件工程</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">主页</a></li>
        <li><a href="/about">关于</a></li>
        <li><a href="/studentInfo">数据</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- +++++ Welcome Section +++++ -->
<div id="ww">
  <div class="container">
    <div class="row">
    	<div class="col-lg-8 col-lg-offset-2 centered">
    		<h1>Hi, I am Jocelyn!</h1>
    		<p>下面的两个按钮是作业1的内容</p>
    		<button type="button" class="btn btn-default"><a href="http://onestop.ucas.edu.cn/" target="_blank">点击我进行超链接跳转</a></button>
    		<button type="button" class="btn btn-default" onclick="showTime()">点击我显示当前时间</button>
    		<p id="show"></p>
    		<p>上方的导航栏用以实现页面跳转</p>
    		<p>导航栏中Data页是作业2的内容</p>
    		
    	
    	</div><!-- /col-lg-8 -->
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /ww -->
<!-- +++++ Footer Section +++++ -->
	
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<p>中国科学院大学，北京, 中国</p>
			</div>
			
		</div>
	
	</div>
</div>